* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
  transition: all .5s;
}

.btn-darks {
  border: 1px solid #333;
  background-color: #333;
  padding: 7px 20px 6px;
  border-radius: 1px;
  color: #ddd;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
}

.btn-darks:hover {
  border-color: #1f1f1f;
  background-color: #1f1f1f;
  color: #fff;
}

.btn-blue {
  border: 1px solid #00adef;
  background-color: #00adef;
  padding: 5px 20px 6px;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}

.btn-blue:hover {
  border-color: #0088c6;
  background-color: #0088c6;
  color: #fff;
}

header {
  padding-bottom: 12px;
  background: #000000;
}

header .navbar {
  align-items: flex-end;
}

header .navbar .header__right .nav-item {
  display: inline;
}

header .navbar .header__right .nav-item a {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

header .navbar .header__right .nav-item a i {
  font-size: 10px;
  border: 1px solid #fff;
  padding: 3px 4px;
  text-align: center;
}

header .navbar .header__right .nav-item a:hover {
  color: #00adef;
}

header .navbar .header__right .nav-item a:hover i {
  border: 1px solid #00adef;
}

header .navbar .header__right .header__meta {
  margin: 0;
}

header .navbar .header__right .header__menu {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

header .navbar .header__right .header__menu .nav-item {
  margin-left: 25px;
}

header .navbar .header__right .header__menu .search__icon {
  margin-left: 25px;
  cursor: pointer;
}

#navbarMecedes {
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 9;
}

@media screen and (max-width: 1280px) {
  header .header__menu .navbar-nav {
    display: none;
  }
  header .header__menu .navbar-toggler {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  header .navbar .header__left .navbar-brand .header__logo-notext {
    width: 44px;
    height: 44px;
  }
  header .navbar .header__left .navbar-brand .header__logo-text {
    width: 91px;
    height: 23px;
  }
}

.carousel {
  position: relative;
  margin-top: 100px;
}

.carousel .carousel__items {
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}

.carousel .carousel__items .carousel__overlay {
  position: absolute;
  top: 10%;
  left: 8%;
  width: 43%;
}

.carousel .carousel__items .carousel__overlay a {
  color: #fff;
}

.carousel .carousel__items .carousel__overlay a h1 {
  font-size: 42px;
  line-height: 1.5;
  margin-bottom: 14px;
}

.carousel .item1 {
  background-image: url("../img/carousel-01-3400x1440.jpeg");
}

.carousel .item2 {
  background-image: url("../img/carousel-02-3400x1440.jpeg");
}

.carousel .item3 {
  background-image: url("../img/carousel-03-3400x1440.jpeg");
}

.carousel .item4 {
  background-image: url("../img/carousel-04-3400x1440.jpeg");
}

.carousel .item5 {
  background-image: url("../img/carousel-05-3400x1440.jpeg");
}

.carousel .item6 {
  background-image: url("../img/carousel-06-3400x1440.jpeg");
}

.owl-carousel .owl-nav button.owl-prev {
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-100%);
  color: white;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background: none;
}

.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  font-size: 70px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-100%);
  color: white;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background: none;
}

.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */