@mixin styleText($color,$fs,$fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleButton($border-color,$bg-color,$pd-t,$pd-x,$pd-b,$radius){
    border: 1px solid $border-color;
    background-color: $bg-color;
    padding:$pd-t $pd-x $pd-b;
    border-radius: $radius;
}
@mixin styleButtonHover($bd-color,$bg-color,$color){
    border-color: $bd-color;
    background-color: $bg-color;
    color: $color;
}
@mixin animation($animation,$second, $type){
    animation: $animation $second $type;
}

//responsive
@mixin responsive($screen){
       @if(map-has-key($map:$breakpoints , $key:$screen )){
        $value: map-get($map:$breakpoints , $key:$screen );
        @media screen and (max-width:$value){
            @content;
        }
    }
    @else{
        @warn 'Màn hình không đúng';
    }
}