.carouselMec {
    position: relative;
    margin-top: 95px;
    .carousel__items {
        height: 600px;
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        .carousel__overlay {
            position: absolute;
            top: 11%;
            left: 8%;
            width: 43%;
            display: block;
            @include animation(fadeInDown, 1.5s, ease);
            a {
                color: $color-white-0;
                h1 {
                    font-size: $fs-5;
                    line-height: 1.5;
                    margin-bottom: $mg-1;
                }
            }
        }
    }
    .carousel__text {
        background: $color-white-2;
        height: 300px;
        display: none;

        .carousel__text-items {
            padding-left: $pd-4;
            padding-right: $pd-3;
            padding-top: $pd-4;
            @include animation(fadeInDown, 1.5s, ease);
            a {
                color: $color-black-3;
                h1 {
                    font-size: $fs-4 + 5;
                    line-height: 1.5;
                    margin-bottom: $mg-1;
                }
            }
        }
    }
    .item1 {
        background-image: url("../img/carousel-01-3400x1440.jpeg");
    }
    .item2 {
        background-image: url("../img/carousel-02-3400x1440.jpeg");
    }
    .item3 {
        background-image: url("../img/carousel-03-3400x1440.jpeg");
    }
    .item4 {
        background-image: url("../img/carousel-04-3400x1440.jpeg");
    }
    .item5 {
        background-image: url("../img/carousel-05-3400x1440.jpeg");
    }
    .item6 {
        background-image: url("../img/carousel-06-3400x1440.jpeg");
    }
    .carousel-control-next,
    .carousel-control-prev {
        z-index: 18;
    }
}

//resopnsive
@include responsive("ex-extra-large") {
    .carouselMec {
        margin-top: 85px;
        .carousel__items {
            height: 560px;
            .carousel__overlay {
                top: 15%;
                a {
                    h1 {
                        font-size: $fs-4 + 5;
                    }
                }
            }
        }
    }
}
@include responsive("extra-large") {
    .carouselMec {
        .carousel__items {
            height: 500px;
            .carousel__overlay {
                a {
                    h1 {
                        font-size: $fs-4 + 5;
                    }
                }
            }
        }
    }
}
@include responsive("ex-large") {
    .carouselMec {
        .carousel__items {
            height: 450px;
        }
    }
}
@include responsive("medium") {
    .carouselMec {
        .carousel__items {
            height: 320px;
            .carousel__overlay {
                display: none;
            }
        }
        .carousel__text {
            display: block;
        }
        .carousel {
            .carousel-control-prev,
            .carousel-control-next {
                bottom: 300px;
            }
        }
    }
}
@include responsive("small") {
    .carouselMec {
        .carousel__items {
            height: 270px;
            .carousel__overlay {
                display: none;
            }
        }
        .carousel__text {
            display: block;
        }
        .carousel {
            .carousel-control-prev,
            .carousel-control-next {
                bottom: 320px;
            }
        }
    }
}
