header {
    padding-bottom: $pd-2;
    background: $color-black-0;
    .navbar {
        align-items: flex-end;
        .header__right {
            .nav-item {
                display: inline;
                a {
                    @include styleText($color-white-0, $fs-2, $fw-normal);
                    i {
                        font-size: $fs-0;
                        border: 1px solid $color-white-0;
                        padding: 3px 4px;
                        text-align: center;
                    }
                    &:hover {
                        color: $color-blue-0;
                        i {
                            border: 1px solid $color-blue-0;
                        }
                    }
                }
            }
            .header__meta{
                margin: 0;
            }
            .header__menu {
                margin-left:0;
                margin-right: 0;
                padding:0;
                .nav-item {
                    margin-left: $mg-2;
                }
                .search__icon {
                    margin-left: $mg-2;
                    cursor: pointer;
                }
            }
        }
    }
}
#navbarMecedes {
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 9;
}
//responsive
@include responsive("ex-extra-large") {
    header {
        .header__menu {
            .navbar-nav {
                display: none;
            }
            .navbar-toggler {
                display: inline-block;
            }
        }
    }
}
@include responsive("large") {
    header{
        .navbar{
            .header__left {
                .navbar-brand {
                    .header__logo-notext {
                        width: 44px;
                        height: 44px;
                    }
                    .header__logo-text {
                        width: 91px;
                        height: 23px;
                    }
                }
            }
        }
    }
}
@include responsive("medium") {
    // .header__meta-text {
    //     display: none;
    // }
}
