*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: $color-black-0;
    font-family: Arial, Helvetica, sans-serif;
    @include styleText($color-white-0,$fs-2,$fw-normal);
}
a:hover{
    text-decoration: none;
}